:root {
    --hintergrund: #C7C7C7;
    --hellesgrau: #EAEAEA;
    --dectrisblau: #004899;
    --oldbackground: #F5F2EE;
    --white: #FFFFFF;
    --schrift: #585858;
    --nflgreybackground: #f6f6f6;
}

body {
  padding-top: 100px;
}

.table-vbckb {
    color: white;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: -10px; /* correct offset on first border spacing if desired */
    /*vertical-align: middle;
    height: 100%;*/
 }

 .table-vbckb th,
 .table-vbckb td {
  padding: 0.5rem;
  vertical-align: middle;
  /*border:1px solid --var(--dectrisblau);
  border-style: solid none;*/
  background-color: var(--white);
  color: var(--schrift);
}

.table-vbckb td:first-child {
    border-left-style: solid;
    border-top-left-radius: 0.25rem; 
    border-bottom-left-radius: 0.25rem;
}

.table-vbckb td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 0.25rem; 
    border-top-right-radius: 0.25rem;
}

tr.live-row td:first-child {
  background-color: var(--dectrisblau);
  color: var(--white);
  width: 1%;
  font-weight: bold;
  /*width: 1%;
  white-space: nowrap;*/
}

tr.live-row td:last-child {
  font-weight: bold;
}

tr.result-row td{
  background-color: var(--dectrisblau);
  color: var(--white);
}

tr.result-row td:last-child {
  font-weight: bold;
}

/*td.min {
  width: 1%;
  white-space: nowrap;
}*/

.btn-vbckb {
  color: #fff;
  background-color: var(--dectrisblau);
  border-color: var(--dectrisblau);
}

.btn-vbckb:hover {
  color: var(--white);
  text-decoration: none;
}

.card-title-vbckb {
  color: var(--dectrisblau);
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dectrisblau)
}

.jumbotron-vbckb {
    background-color: var(--dectrisblau);
  }

.jumbotron-vbckb h1{
    color: #fff;
}