:root {
    --hintergrund: #C7C7C7;
    --hellesgrau: #EAEAEA;
    --dectrisblau: #004899;
    --oldbackground: #F5F2EE;
    --white: #FFFFFF;
    --schrift: #585858;
    --nflgreybackground: #f6f6f6;
}

body {
  padding-top: 90px;
}

#vbckb {
  background-color: var(--dectrisblau);
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

a {
  color: var(--white);
  background-color: var(--dectrisblau);
}

a:hover {
  color: var(--dectrisblau);
  background-color: transparent;
  text-decoration: none;
}

.footer-vbckb {
  background-color: var(--dectrisblau);
  color: #FFFFFF !important;
}

.table-vbckb {
    color: white;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: -10px; /* correct offset on first border spacing if desired */
    /*vertical-align: middle;
    height: 100%;*/
 }

 .table-vbckb th,
 .table-vbckb td {
  padding: 0.5rem;
  vertical-align: middle;
  /*border:1px solid --var(--dectrisblau);
  border-style: solid none;*/
  background-color: var(--white);
  color: var(--schrift);
}

.table-vbckb td:first-child {
    border-left-style: solid;
    border-top-left-radius: 0.25rem; 
    border-bottom-left-radius: 0.25rem;
}

.table-vbckb td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 0.25rem; 
    border-top-right-radius: 0.25rem;
}

tr.live-row td:first-child {
  background-color: var(--dectrisblau);
  color: var(--white);
  width: 1%;
  font-weight: bold;
  /*width: 1%;
  white-space: nowrap;*/
}

tr.live-row td:last-child {
  font-weight: bold;
}

tr.result-row td{
  background-color: var(--dectrisblau);
  color: var(--white);
}

tr.result-row td:last-child {
  font-weight: bold;
}

/*td.min {
  width: 1%;
  white-space: nowrap;
}*/

.btn-vbckb {
  color: #fff;
  background-color: var(--dectrisblau);
  border-color: var(--dectrisblau);
}

.btn-vbckb:hover {
  color: var(--white);
  text-decoration: none;
}

.card-title-vbckb {
  color: var(--dectrisblau);
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dectrisblau)
}

.jumbotron-vbckb {
    background-color: var(--dectrisblau);
  }

.jumbotron-vbckb h1{
    color: #fff;
}

body {margin:2rem;}



/* HOVER SHADOW FÜR CARDS
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 544px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  

}

/* Medium devices (tablets, 768px and up) 
The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

@media (max-width: 950px) { 

}
